.sidebar-link {
  display: block;
  overflow: visible;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.sidebar-link:hover {
  color: #005b96;
}

.sidebar-link.child-desktop {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  font-family: Lato_2, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.sidebar-link.child-desktop:hover {
  color: #005b96;
}

.sidebar-link.desktop {
  margin: 16px 0px;
  padding-top: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/ic-arrow-drop-down.svg');
  background-position: 84% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.sidebar-link.desktop.w--current {
  background-image: url('../images/ic-arrow-drop-up.svg');
  background-attachment: scroll;
  font-family: Lato_2, sans-serif;
}

.global-logo {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 16px 16px 16px 24px;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.global-logo.w--current {
  margin-bottom: 24px;
}

.sidebar-nav-menu {
  position: relative;
  display: block;
  margin-left: 0px;
  padding-left: 32px;
  float: none;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 264px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.n-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.n-nav-col {
  min-height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.global-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 264px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fafafa;
}

.n-body-col {
  padding-right: 0px;
  padding-bottom: 64px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Lato, sans-serif;
}

.n-container {
  width: 100%;
  max-width: 800px;
  margin-top: 64px;
  margin-right: 40px;
  margin-left: 64px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
}

.n-container.top80 {
  margin-top: 80px;
}

.h-1 {
  margin-bottom: 0px;
  border: 1px none #000;
  font-family: Lato_2, sans-serif;
  color: #29313e;
  font-size: 50px;
  line-height: 72px;
  font-weight: 900;
  letter-spacing: 1px;
}

.h-1.white {
  color: #fff;
}

.h-1.lable {
  font-weight: 100;
  text-align: right;
}

.item-wrapper {
  display: block;
  margin-bottom: 40px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none #000;
}

.item-wrapper.hidden {
  display: none;
}

.body-big {
  margin-bottom: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.body-big.primary {
  color: #005b96;
}

.body-big.oblique {
  font-style: italic;
  font-weight: 300;
}

.body-big.right {
  float: right;
}

.body-big.dark50 {
  color: rgba(38, 50, 56, 0.5);
}

.body-big.dark80 {
  color: rgba(38, 50, 56, 0.8);
}

.body-big.center {
  text-align: center;
}

.text-block {
  display: block;
  padding-left: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-family: Lato_2, sans-serif;
  color: #005b96;
  font-size: 20px;
  font-weight: 700;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
  letter-spacing: 0.8px;
}

.h2.white {
  color: #fff;
}

.image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image-wrapper.last {
  margin-bottom: 0px;
}

.image-wrapper.demo {
  display: block;
  width: 60%;
  max-height: none;
  max-width: none;
}

.image {
  margin-right: 40px;
  padding-right: 0px;
}

.image.demo {
  width: 100%;
  max-width: none;
  margin-top: 32px;
  padding-right: 0px;
}

.image.shadow {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.image.shadow.favicon {
  display: block;
  width: 32px;
  height: 32px;
}

.image.shadow.with-subtitle {
  margin-right: 0px;
}

.button {
  margin-top: 32px;
  padding: 14px 24px;
  border-radius: 2px;
  background-color: #2674a6;
  font-family: Lato_2, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #005b96;
}

.button:active {
  background-color: #005b96;
}

.button.small {
  margin-left: 32px;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #2674a6;
  background-color: transparent;
  color: #005b96;
  text-decoration: none;
  text-transform: none;
}

.button.small:hover {
  background-color: #005b96;
  color: #fff;
}

.button.small.hidden {
  display: none;
}

.button.black {
  margin-left: 0px;
  background-color: #1b1b1b;
}

.button.black.left32px {
  margin-left: 32px;
  background-color: #263238;
}

.button.black.left32px:hover {
  background-color: #1b1b1b;
}

.sidebar-footer {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 32px;
  background-color: #fafafa;
}

.color-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 176px;
  height: 160px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fafafa;
}

.color-box._2 {
  background-color: #2b388f;
}

.color-box._3 {
  background-color: #1d2148;
}

.color-box._4 {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  color: rgba(51, 51, 51, 0.73);
}

.color-box._5 {
  background-color: #48a4ec;
}

.color-box._6 {
  background-color: #1b1b1b;
}

.color-box._7 {
  background-color: #d4d6d8;
}

.color-box._0 {
  background-color: #1b75bb;
}

.color-box._9 {
  background-color: #e53820;
}

.color-box._10 {
  background-color: #51c71e;
}

.color-box._11 {
  background-color: #f5bb0f;
}

.color-box.combo {
  width: 40px;
  height: 40px;
  margin-right: 32px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #005b96;
}

.color-box.combo._011 {
  background-color: #d4d6d8;
}

.color-box.combo._02 {
  background-color: #263238;
}

.color-box.combo._03 {
  background-color: #2674a6;
}

.color-box.combo._04 {
  background-color: #1b1b1b;
}

.color-box.combo._05 {
  background-color: #e53820;
}

.color-box.combo._06 {
  background-color: #51c71e;
}

.color-box.combo._07 {
  background-color: #f5bb0f;
}

.color-box.combo._08 {
  background-image: linear-gradient(345deg, #61b1e1, #13476a);
}

.color-box.combo._09 {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.color-box.combo._010 {
  background-color: #fafafa;
}

.color-lable {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.color-lable.hex {
  font-weight: 300;
  text-transform: capitalize;
}

.color-lable.dark {
  color: #1b1b1b;
}

.color-lable.combo {
  text-transform: none;
}

.color-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  -ms-grid-columns: 5fr 1fr 1fr 1fr;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.color-wrapper.gradient {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.color-gradient-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: 160px;
  margin-right: 0px;
  padding-bottom: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: linear-gradient(345deg, #61b1e1, #13476a);
}

.color-combo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  -ms-grid-columns: 5fr 1fr 1fr 1fr;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.divider-16bottom {
  display: block;
  margin-top: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #d4d6d8;
}

.link {
  border-bottom: 2px solid #005b96;
  color: #263238;
  text-decoration: none;
}

.link:hover {
  border-bottom-color: #005b96;
  color: #005b96;
}

.h1-60 {
  padding-top: 0px;
  font-family: Lato_2, sans-serif;
  font-size: 60px;
  line-height: 80px;
  font-weight: 900;
  letter-spacing: 1px;
}

.h1-60.lable {
  font-weight: 100;
  text-align: right;
}

.wrap-top40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-bottom24 {
  padding-top: 0px;
  padding-bottom: 24px;
}

.wrap-bottom24.wrap-top80 {
  padding-top: 80px;
}

.wrap-bottom24.wrap-top48 {
  padding-top: 48px;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 26px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-indent: 0px;
}

.columns-wrap {
  display: block;
}

.overline-txt {
  margin-bottom: 2px;
  font-family: Lato_2, sans-serif;
  color: rgba(38, 50, 56, 0.8);
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-indent: 0px;
  text-transform: uppercase;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 20px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: 0.4px;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0px;
}

.column-3 {
  padding-right: 40px;
  padding-left: 0px;
}

.h4-wrap {
  padding-bottom: 16px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.h3-wrap {
  padding-bottom: 12px;
}

.body-small {
  width: auto;
  margin-bottom: 0px;
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.body-small.white {
  margin-top: 80px;
  color: #fff;
}

.body-small.bottom-16 {
  margin-bottom: 16px;
}

.caption-txt {
  font-family: Lato_2, sans-serif;
  color: rgba(38, 50, 56, 0.6);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.cta-primary-txt {
  font-family: Lato_2, sans-serif;
  color: #005b96;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cta-secondary-txt {
  font-family: Lato_2, sans-serif;
  color: #005b96;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.footer-link {
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.header-link {
  font-family: Lato_2, sans-serif;
  color: #263238;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.h1-mobile {
  font-family: Lato, sans-serif;
  color: #263238;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.h2-mobile {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #263238;
  font-size: 26px;
  line-height: 32px;
  font-weight: 900;
  letter-spacing: 0.4px;
}

.h3-mobile {
  font-family: Lato, sans-serif;
  color: #263238;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.illustration-wrap {
  margin-top: 24px;
  background-color: #1b1b1b;
}

.wrap-48-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-2 {
  padding-right: 8px;
}

.image-3 {
  margin-top: 40px;
}

.wrap-bottom16 {
  padding-top: 0px;
  padding-bottom: 16px;
}

.wrap-bottom16.wrap-top80 {
  padding-top: 80px;
}

.wrap-bottom16.top40 {
  padding-top: 40px;
}

.txt-preview-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  background-color: #005b96;
}

.txt-preview-wrapper.white {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #fff;
}

.txt-preview-wrapper.light-gray {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #fafafa;
}

.txt-preview-wrapper.dark-grey {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #d4d6d8;
}

.txt-preview-wrapper-gradient {
  display: block;
  width: auto;
  height: auto;
  margin-right: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: linear-gradient(345deg, #61b1e1, #13476a);
}

.div-block {
  position: static;
  left: 0px;
  right: 0px;
  clear: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column-5 {
  padding: 0px;
}

.column-6 {
  padding-right: 40px;
  padding-left: 0px;
}

.wrap-bottom40 {
  padding-top: 0px;
  padding-bottom: 40px;
}

.sidenav-heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 8px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidenav-heading-wrapper.child {
  margin-top: 0px;
  padding-left: 16px;
}

.image-4 {
  display: block;
  width: auto;
  height: auto;
  padding-right: 32px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.logo-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.pic-subtitle-wrapper {
  width: auto;
  margin-right: 40px;
  text-indent: 0px;
}

.column-7 {
  padding-right: 40px;
  padding-left: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.wrap-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-5 {
  max-width: none;
  padding-bottom: 32px;
}

@media screen and (max-width: 991px) {
  .global-logo {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .global-logo.w--current {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sidebar-nav-menu {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: #fafafa;
    text-align: left;
  }
  .navbar {
    display: block;
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .n-body {
    display: block;
  }
  .global-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .n-body-col {
    display: block;
    padding-bottom: 64px;
  }
  .n-container {
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .h-1 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.5px;
  }
  .h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .button.small {
    display: inline-block;
    margin-bottom: 64px;
    margin-left: 0px;
    float: none;
  }
  .button.small.hidden {
    display: inline-block;
  }
  .sidebar-footer {
    display: none;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .color-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .h4 {
    font-weight: 600;
  }
  .column-4 {
    padding-left: 24px;
  }
  .menu-button {
    position: static;
    display: block;
    margin-top: 12px;
    margin-right: 16px;
    padding: 16px;
    clear: none;
  }
  .logo-wrapper {
    display: inline-block;
    float: left;
    clear: none;
  }
  .pic-subtitle-wrapper {
    margin-right: 32px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .global-logo.w--current {
    clear: none;
  }
  .navbar {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .global-nav {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .n-container {
    max-width: none;
    margin-left: 0px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .image-wrapper {
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-wrapper.last {
    margin-bottom: -32px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image {
    width: auto;
    height: auto;
    max-width: none;
    margin-right: 24px;
    margin-bottom: 40px;
  }
  .image.shadow {
    display: block;
    width: auto;
    height: auto;
    max-width: none;
    margin-right: 24px;
    margin-bottom: 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
  .image.shadow.favicon {
    width: 32px;
    height: 32px;
  }
  .button {
    margin-right: 24px;
  }
  .button.black.left32px {
    margin-left: 0px;
  }
  .color-box._3 {
    margin-right: 24px;
  }
  .color-box._4 {
    margin-bottom: 24px;
  }
  .color-box._5 {
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .color-box._7 {
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .color-box._8 {
    margin-right: 24px;
  }
  .color-box._0 {
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .color-box._9 {
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .color-box._10 {
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .color-box.combo {
    min-width: 40px;
    margin-bottom: 32px;
  }
  .color-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .color-gradient-box {
    width: 100%;
  }
  .color-combo-wrapper {
    margin-bottom: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .column-3 {
    margin-bottom: 56px;
  }
  .columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .image-3 {
    width: 80%;
  }
  .column-8 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .n-body-col {
    padding-bottom: 40px;
  }
  .n-container {
    max-width: none;
    padding-right: 20px;
    padding-left: 20px;
  }
  .item-wrapper {
    text-align: left;
  }
  .image-wrapper.last {
    margin-bottom: -24px;
  }
  .button {
    margin-top: 32px;
    margin-right: 0px;
    font-size: 14px;
  }
  .button.black.left32px {
    margin-left: 0px;
  }
  .color-box {
    margin-right: 24px;
    margin-bottom: 24px;
  }
  .column-3 {
    margin-bottom: 40px;
  }
  .txt-preview-wrapper {
    padding-left: 17px;
  }
  .txt-preview-wrapper-gradient {
    padding-left: 16px;
  }
}

@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-BlackItalic.woff') format('woff'), url('../fonts/Lato-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-HairlineItalic.woff') format('woff'), url('../fonts/Lato-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_2';
  src: url('../fonts/Lato-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}